/* main.css will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */

a{
  text-decoration: none;
  color:inherit;
}

.scroll-content{
  background:white;
}

.md .marginTopAdjusted > ion-refresher-content, 
.md .marginTopAdjusted > .fixed-content, 
.md .marginTopAdjusted > .scroll-content{
  margin-top:56px;
}

.ios .marginTopAdjusted > ion-refresher-content,
.ios .marginTopAdjusted > .fixed-content,
.ios .marginTopAdjusted > .scroll-content{
  margin-top:44px;
}

.wp .marginTopAdjusted > ion-refresher-content,
.wp .marginTopAdjusted > .fixed-content,
.wp .marginTopAdjusted > .scroll-content{
  margin-top:46px;
}

ion-list{
  margin:0px !important;
}

.item{
  padding-left:0px; 
}

.item [item-right]:last-child{
  margin-right:0px;
}

.item-inner{
  padding-right:0px;
}